.features-block-8 {
    font-family: 'Nunito', sans-serif;
    background: #f8f8f8;
    
}

.features-block-8 .img-bg {
	background: url("images/picture.jpg");
	height: 400px;
	background-size: cover;
	background-position: center;
}

@media (min-width: 992px) {
	.features-block-8 .img-bg {
		height: 800px;
	}
	.subline {
		width: 85%;
	}
}

/* Text */
.features-block-8 h2 {
	font-size: 2.5rem;
	margin-bottom: .5em;
	margin-top: .3em;
	font-weight: 300;
	font-family: 'Lora', sans-serif;
	font-style: italic;
}

.features-block-8 h3 {
	font-size: 1.2rem;
	margin-bottom: .5em;
	margin-top: .3em;
	font-weight: 600;
	font-style: italic;
}

.features-block-8 p {
	color: #b2b2b2;
}

.features-block-8 .fas {
	font-size: 2rem !important;
	margin-bottom: .5em;
	margin-top: .3em;
	color: #f44336;
}